.App {
  display: flex;
  flex-direction: column;
  font-family: 'Epilogue';
};

.App p{
  font-size: 18px;
}

.Navbar {
  display: inline;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Open+Sans&display=swap');
